{% extends "base.html.twig" %}

{% block title %}Les Formules{% endblock %}

{% block body %}
    <div class="container">
        <h4 class="salmon" id="coaching1">Les Formules:</h4>
        <div class="container text-center">
            <hr class="hr">
            <div class="row">
                {% for formule in formules %}
                    <div class="col-md-6" id="step">
                        <div class="formule">
                            <img class="rounded img-responsive" id="step" src="{{ asset('upload/' ~ formule.image) }}" alt="{{formule.name}}">
                            <div class="fadedbox">
                                <div class="title text">
                                    <div class="texte-formule">
                                        <p><b>{{ formule.description | raw }}</b></p>
                                        <p><b>prix: {{formule.prix}}</b></p>  
                                    </div>
                                    <a href="#" class="btn btn-rounded seance">{{formule.name}}</a>
                                </div>
                            </div>
                        </div>
                    </div>   
                {% endfor %}
            </div>
        </div>
        <a href="{{ path('admin_formules') }}" class="btn btn-secondary">Retour</a>
    </div>
{% endblock %}