<h1>Nouveau Contact</h1>

<p>De: {{ mail }}</p>
<p>{{ prenom }} {{ nom }} vous a écrit :</p>
<p>Numéro de téléphone : 0{{ tel }}</p>
<p>Sujet: {{ sujet }} </p>
<p>Formule: {{ formule|raw }}</p>
<p>Support: {{ support|raw }}</p>
<p>Message: {{ message|raw }}</p>